#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
stats_db = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#mysql+pymysql://
#'username:password'
#'@host:port/'
#'database_name'

#### 4. Import the users table

In [4]:
stats_db.table_names()

['badges',
 'comments',
 'postHistory',
 'postLinks',
 'posts',
 'tags',
 'users',
 'votes']

In [5]:
users_table = pd.read_sql_query('SELECT * FROM stats.users', stats_db)

#### 5. Rename Id column to userId

In [6]:
users_table.rename(columns = {'Id':'userId'}, inplace = True)
users_table.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 6. Import the posts table.

In [11]:
posts_table = pd.read_sql_query('SELECT * FROM stats.posts', stats_db)
posts_table.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 7. Rename Id column to postId and OwnerUserId to userId

In [14]:
posts_table.rename(columns = {'Id':'postId','OwnerUserId':'userId'}, inplace = True)
posts_table.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [15]:
users_new = users_table[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']] 
posts_new = posts_table[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [22]:
merged_df = pd.merge(posts_new,users_new, on ='userId')

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [25]:
null_values = merged_df.isnull().sum()
print(null_values[null_values > 0])
#There are 48.396 missing values in the column ViewCount

ViewCount    48396
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [35]:
#First, I'm going to see the percentage of the missing values in the column 'ViewCount'
null_values[null_values > 0] / len(merged_df) * 100

ViewCount    53.426654
dtype: float64

In [39]:
"""As the column has a 53,42% of null values and
I don't know exactly the importance of this column in relation to the rest of the dataframe,
I'm going to fill the missing values with the mean of the column"""
merged_df['ViewCount'].fillna(merged_df['ViewCount'].mean(), inplace = True)
merged_df.isnull().sum()

postId          0
Score           0
userId          0
ViewCount       0
CommentCount    0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
dtype: int64

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [47]:
merged_df.dtypes

postId            int64
Score             int64
userId          float64
ViewCount       float64
CommentCount      int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
dtype: object

In [48]:
merged_df.describe()

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
count,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000
mean,56539.080522,2.780767,16546.764727,556.656158,1.894650,6282.395412,1034.245176,734.315718,33.273249
std,33840.307529,4.948922,15273.367108,1608.469386,2.638704,15102.268670,2880.074012,2050.869327,134.936435
min,1.000000,-19.000000,-1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,26051.750000,1.000000,3437.000000,144.000000,0.000000,60.000000,5.000000,1.000000,0.000000
50%,57225.500000,2.000000,11032.000000,556.656158,1.000000,396.000000,45.000000,22.000000,0.000000
75%,86145.250000,3.000000,27700.000000,556.656158,3.000000,4460.000000,514.250000,283.000000,8.000000
max,115378.000000,192.000000,55746.000000,175495.000000,45.000000,87393.000000,20932.000000,11442.000000,1920.000000

In [59]:
#I'd just change the column userId by int type.
convert_dict = {'userId': int}
  
merged_df = merged_df.astype(convert_dict) 
print(merged_df.dtypes)

postId            int64
Score             int64
userId            int64
ViewCount       float64
CommentCount      int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.