# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
null_cols = salaries.isnull().sum()

null_cols/ len(salaries) * 100

Name                  0.000000
Job Titles            0.000000
Department            0.000000
Full or Part-Time     0.000000
Salary or Hourly      0.000000
Typical Hours        75.824971
Annual Salary        24.175029
Hourly Rate          75.824971
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:
from scipy.stats import t
from scipy.stats import norm
from scipy.stats import ttest_1samp

print("H0 (null hypothesis): The hourly wage of all hourly workers is NOT significantly different from $30/hr. Hourly wage = $30/hr")
print("HA (alternative hypothesis): The hourly wage of all hourly workers is significantly different from $30/hr. Hourly wage =! $30/hr")

hourly_filter = salaries["Salary or Hourly"] == "Hourly"
sample_mean = salaries[hourly_filter]["Hourly Rate"].mean()
sample_std = salaries[hourly_filter]["Hourly Rate"].std()
sample_count = len(salaries[hourly_filter])
salaries_sample = np.array([sample_mean,sample_std,sample_count])
test_results = ttest_1samp(salaries_sample, 30)
display(test_results.statistic)
display(test_results.pvalue)

if test_results.pvalue > 0.05:
    print("We fail to reject the null hypothesis so no significance difference was detected.")
else:
    print("We can reject the null hypothesis.")

H0 (null hypothesis): The hourly wage of all hourly workers is NOT significantly different from $30/hr. Hourly wage = $30/hr
HA (alternative hypothesis): The hourly wage of all hourly workers is significantly different from $30/hr. Hourly wage =! $30/hr

0.9971663044535223

0.4237419670483028

We fail to reject the null hypothesis so no significance difference was detected.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:
print("H0 (null hypothesis): Police salaries <= $86000/year")
print("HA (alternative hypothesis): Police salaries > $86000/year")

police_filter = salaries["Department"] == "POLICE" 
salary_filter = salaries["Salary or Hourly"] == "Salary"
sample_df = salaries[police_filter][salary_filter]

sample_mean = sample_df["Annual Salary"].mean()
sample_std = sample_df["Annual Salary"].std()
sample_count = len(sample_df)
salaries_sample = np.array([sample_mean,sample_std,sample_count])
test_results = ttest_1samp(salaries_sample, 86000)
display(test_results.statistic)
display(test_results.pvalue/2)

if test_results.pvalue/2 > 0.05 and test_results.statistic < 0:
    print("We failed to reject the null hypothesis so we can't prove that police salaries are higher than $86000/year.")
else:
    print("We can reject the null hypothesis and conclude that police salaries are higher than $86000/year.")

H0 (null hypothesis): Police salaries <= $86000/year
HA (alternative hypothesis): Police salaries > $86000/year

/home/veronica/miniconda3/envs/data_env/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

-1.9758298964151366

0.0934163396226846

We failed to reject the null hypothesis so we can't prove that police salaries are higher than $86000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:
salaries_crosstab = pd.crosstab(salaries["Department"], 
                            salaries["Salary or Hourly"],  
                               margins = False)

salaries_crosstab.sort_values("Hourly", axis = 0, ascending = False,
                 inplace = True, na_position ='last')

print(salaries_crosstab)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

In [10]:
solution = salaries_crosstab['Hourly'].idxmax()

print(f"The department that has the most hourly workers is the {solution} department")

The department that has the most hourly workers is the STREETS & SAN department

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [11]:
# Your code here:
print("H0 (null hypothesis): hourly wage >= $35/hour")
print("HA (alternative hypothesis): hourly wage < $35/hour")

department_filter = salaries["Department"] == solution 
hourly_filter = salaries["Salary or Hourly"] == "Hourly"
sample_df = salaries[department_filter][hourly_filter]

sample_mean = sample_df["Hourly Rate"].mean()
sample_std = sample_df["Hourly Rate"].std()
sample_count = len(sample_df)
salaries_sample = np.array([sample_mean,sample_std,sample_count])
test_results = ttest_1samp(salaries_sample, 35)
display(test_results.statistic)
display(test_results.pvalue/2)

if test_results.pvalue/2 > 0.05:
    print("We failed to reject the null hypothesis so we can't prove that hourly wage is less than $35/hour.")
else:
    print("We can reject the null hypothesis and conclude that hourly wage is less than $35/hour.")

H0 (null hypothesis): hourly wage >= $35/hour
HA (alternative hypothesis): hourly wage < $35/hour

/home/veronica/miniconda3/envs/data_env/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

0.9750524424454252

0.2161862421599134

We failed to reject the null hypothesis so we can't prove that hourly wage is less than $35/hour.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [12]:
# Your code here:
import scipy.stats as st

hourly_mean = salaries[hourly_filter]["Hourly Rate"]

st.t.interval(0.95, len(hourly_mean)-1, loc=np.mean(hourly_mean), scale=st.sem(hourly_mean))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [13]:
# Your code here:

police_salary = salaries[police_filter][salary_filter]["Annual Salary"]

st.t.interval(0.95, len(police_salary)-1, loc=np.mean(police_salary), scale=st.sem(police_salary))

/home/veronica/miniconda3/envs/data_env/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [14]:
# Your code here:

from statsmodels.stats.proportion import proportions_ztest

print("H0 (null hypothesis): The number of hourly workers is NOT significantly different from 25%. Hourly workers = 25%")
print("HA (alternative hypothesis): The number of hourly workers is significantly different from 25%. Hourly workers =! 25%")

nobs = len(salaries["Salary or Hourly"])
count = len(salaries[hourly_filter])
value = 0.25
stat, pval = proportions_ztest(count, nobs, value)
print(f'p-value is {pval}')

if pval > 0.05:
    print("Conclusion: We fail to reject the null hypothesis so no significance difference was detected.")
else:
    print("Conclusion: We can reject the null hypothesis.")

H0 (null hypothesis): The number of hourly workers is NOT significantly different from 25%. Hourly workers = 25%
HA (alternative hypothesis): The number of hourly workers is significantly different from 25%. Hourly workers =! 25%
p-value is 0.0004481127249057967
Conclusion: We can reject the null hypothesis.